<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    <%=title %>
</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/styles/bootstrap.min.css">

<!-- jQuery -->
<script src="/scripts/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="/styles/nav-bar.css">