<div class="container-fluid xyz">
    <div class="row " id="navbar">
        <a class="navLinks" href="/community">Community</a>
        <a class="navLinks" href="/help">Help</a>
        <a class="navLinks" href="/login">Select Your Soil</a>
    </div>
</div>