<script src="/scripts/weather.js" defer></script>

<div class="container-fluid xyz">
    <div class="row">
        <marquee id="marquee">
        </marquee>
    </div>
    <div class="row " id="navbar">
        <a class="navLinks" href="/home">Home</a>
        <a class="navLinks" href="/community">Community</a>
        <a class="navLinks" href="/help">Help</a>
        <a class="navLinks" href="/login/soil">Soil Forecasting</a>
        <a class="navLinks" href="/login/land">Land Forecasting</a>

    </div>
</div>