<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "User not authenticated" }) %>
</head>

<body>

    <main>
        <h1>Not authenticated!</h1>
        <p>You are not authenticated and therefore not allowed to access the admin page.</p>
    </main>
</body>

</html>