<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Something went wrong" }) %>
</head>

<body>

    <main>
        <h1>Oops, Something went wrong!</h1>
        <p>Unfortunately, something went wrong on our end - we're work</p>
        <a href="/" rel="noopener noreferrer" class="btn">Back to Safety!</a>
    </main>
</body>

</html>