<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Input error" }) %>
</head>

<body>

    <main>
        <h1>May Be you have entered the wrong data!</h1>
        <p>Please redirect to last page and enter correct data</p>
        <a href="/" rel="noopener noreferrer" class="btn">Back to community!</a>
    </main>
</body>

</html>