<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Dashboard page" }) %>


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/styles/bootstrap.min.css">

        <!-- styles CSS -->
        <link rel="stylesheet" href="/styles/dashboard.css">


        <!-- Boostrap JS -->
        <script src="/scripts/bootstrap.min.js"></script>




</head>

<body>

    <%- include('includes/nav-bar') %>


        <div>
            <% for (const key in cropList) { %>
                <% if (cropList.hasOwnProperty.call(cropList, key)) { %>
                    <% const cropItem=cropList[key]; %>

                        <%- include('includes/crop-item.ejs', crop=cropItem) %>
                            <% } %>
                                <% } %>

        </div>
</body>

</html>