<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Dashboard page" }) %>


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/styles/bootstrap.min.css">

        <!-- styles CSS -->
        <link rel="stylesheet" href="/styles/dashboard.css">


        <!-- Boostrap JS -->
        <script src="/scripts/bootstrap.min.js"></script>




</head>

<body>

    <%- include('includes/nav-bar') %>


        <div>
            <% for (const key in cropList) { %>
                <% if (cropList.hasOwnProperty.call(cropList, key)) { %>
                    <% const cropItem=cropList[key]; %>

                        <%- include('includes/crop-item.ejs', crop=cropItem) %>
                            <% } %>
                                <% } %>

        </div>
</body>

<!-- chat bot script -->
<script src="scripts/script.js"></script>
<script type='text/javascript'>
    ( function ( I, L, T, i, c, k, s ) { if ( I.iticks ) return; I.iticks = { host: c, settings: s, clientId: k, cdn: L, queue: [] }; var h = T.head || T.documentElement; var e = T.createElement( i ); var l = I.location; e.async = true; e.src = ( L || c ) + '/client/inject-v2.min.js'; h.insertBefore( e, h.firstChild ); I.iticks.call = function ( a, b ) { I.iticks.queue.push( [ a, b ] ); }; } )( window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'HQ7atFjXpnh7iwhh8_c', {} );
</script>

</html>