<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Dashboard page" }) %>


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/styles/bootstrap.min.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/styles/dashboard.css">

        <!-- jQuery -->
        <script src="/scripts/jquery-3.6.0.min.js"></script>

        <!-- Boostrap JS -->
        <script src="/scripts/bootstrap.min.js"></script>


</head>

<body>

    <div>
        <% for (const key in cropList) { %>
            <% if (cropList.hasOwnProperty.call(cropList, key)) { %>
                <% const cropItem=cropList[key]; %>

                    <%- include('includes/crop-item.ejs', crop=cropItem) %>
                        <% } %>
                            <% } %>

    </div>
</body>

</html>