<!doctype html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "FarmEasy- Agriculture Landing Page Template Free" }) %>

        <!-- CSS -->
        <link rel="stylesheet" href="/styles/style.css">
</head>

<body>


    <!--   header start -->
    <%- include('includes/nav-bar') %>
        <!--   header end -->

        <!--    banner area start-->
        <div class="bg-image" id="home">
            <div class="cotainer">
                <div class="row">
                    <div class="col-lg-8 text-white mx-auto text-center">

                        <h1 class="display-3 spell-one fw-bold text-center"> BETTER TECHNOLOGY,<br>BETTER
                            AGRICULTURE,<br>BETTER
                            FUTURE</h1>

                        <div class="spell-two">
                            <h3 class="card-title text-bold">Farm Easy</h3>

                            <p class="h5">Farm Easy Team Provides you with a soultion to improve lives of farmers.</p>
                            <div class="my-5">
                                <a class="btn-two" href="#">join us</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!--banner area end-->

        <!--    about area start -->

        <div class="container my-5 py-5" id="about">
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <h1 class="fw-bold text-center">Why to use our website?</h1>
                    <hr class="my-hr">

                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 " id="aboutustext">
                    <h1 class="fw-bold">This Portal Provides the one platform for both farmers and companies</h1>
                    <br>
                    <h2>For Company</h2>
                    <p class="h5 my-2">Companies can get the data related to crop harvesting and their quality and use
                        it to
                        schedule their production.</p>

                    <h2 class="mt-5">For Farmer</h2>
                    <p class="h5 my-2">Lorem ipsum. Deleniti accusantium ea veniam qui ipsum, cum nemo corporis rem,
                        quam
                        perferendis dolo rem, quam perferendis dolorem !</p>

                    <div class="my-5">
                        <a class="btn-two" href="#">Explore</a>
                    </div>
                </div>

                <div class="col-lg-6 my-5 py-5">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item my-auto active">
                                <img src="/images/11men.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item my-auto">
                                <img src="/images/05.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item my-auto">
                                <img src="/images/07.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>


        <!--   about area end-->


        <!--    service area start -->
        <div class="bg-aku py-5" id="services">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="fw-bold text-center text-white" data-aos="zoom-out-down">Improve Yield according
                            to</h1>
                        <hr class="my-hr">
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-4" data-aos="fade-right">
                            <a class="card" href="/forecasting/land">
                                <img src="/images/09baby@hen.jpg" class="card-img-top" alt="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Land</h5>
                                    <p class="">This helps to list all the crops which can be grown in selected land
                                        type.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4" data-aos="fade-up">
                            <a class="card" href="/forecasting/soil">
                                <img src="/images/08ship.jpg" class="card-img-top" alt="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Soil</h5>
                                    <p class="">This helps to list all the crops which can be grown in selected soil
                                        type.</p>
                                </div>
                            </a>

                        </div>
                        <div class="col-lg-4" data-aos="fade-left">
                            <a class="card" href="/forecasting/StateSeason">
                                <img src="/images/03.jpg" class="card-img-top" alt="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title text-center">States And Seasons</h5>
                                    <p class="">This helps to list all the crops which can be grown in selected
                                        state
                                        and in a particular season.</p>
                                </div>
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--    blog area start-->

        <div class="bgg-aku" id="blog">
            <div class="container py-5 my-5">
                <div class="card-tw px-2 my-3">
                    <div class="row">
                        <div class="col-lg-12 text-white text-center" data-aos="fade-down-right">

                            <p class="h1  fw-bold" data-aos="zoom-in">Pest Precautions</p>

                            <hr class="my-hr">
                        </div>


                        <div class="row g-5">
                            <div class="col-lg-4">
                                <div class="dg-card">
                                    <img src="/images/12man.jpg" class="card-img-top" alt="...">

                                    <div class="px-3">

                                        <h3 class="text-center mt-3">Turfgrass Pests</h3>
                                        <p class="h6 text-center">The turfgrass has been treated or is being treated
                                            with insecticides, the pollinators can be exposed directly or
                                            indirectly to the insecticides on the weeds. This can cause lethal or
                                            sublethal effects on these pollinators.</p>

                                        <div class="h3 text-center my-4">
                                            <a href="#">More</a>

                                        </div>

                                    </div>

                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="dg-card">
                                    <img src="/images/05.jpg" class="card-img-top" alt="...">


                                    <div class="px-3">

                                        <h3 class="text-center mt-3">Green bugs</h3>
                                        <p class="h6 text-center">Seed treated with commercially applied systemic
                                            insecticides provides good early season protection against greenbugs.
                                            Because Cruiser, Gaucho and Poncho are neonicotinoid insecticides, they
                                            should be effective against greenbugs resistant
                                            to organophosphate and carbamate insecticides.</p>

                                        <div class="h3 text-center my-4">
                                            <a href="#">More</a>

                                        </div>


                                    </div>
                                </div>


                            </div>
                            <div class="col-lg-4">
                                <div class="dg-card">
                                    <img src="/images/20boy.jpg" class="card-img-top" alt="...">


                                    <div class="px-3">

                                        <h3 class="text-center mt-3">Caterpillars</h3>
                                        <p class="h6 text-center">Use neem oil in higher concentration and
                                            occasionally
                                            spray the leaves with a soap solution Use the masking power of
                                            herbs like sage, peppermint, mugwort and lavender.</p>

                                        <div class="h3 text-center my-4">
                                            <a href="#">More</a>

                                        </div>


                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="dg-card">
                                    <img src="/images/02.jpg" class="card-img-top" alt="...">


                                    <div class="px-3">

                                        <h3 class="text-center mt-3">Sod Webworm</h3>
                                        <p class="h6 text-center">When the insects are still small and vulnerable,
                                            they
                                            can easily be killed with insecticides. Apply insecticide to your
                                            infested lawn in the early evening as this is the time when larvae are
                                            most
                                            active.</p>

                                        <div class="h3 text-center my-4">
                                            <a href="#">More</a>

                                        </div>


                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="dg-card">
                                    <img src="/images/18oldman.jpg" class="card-img-top" alt="...">

                                    <div class="px-3">


                                        <h3 class="text-center mt-3">Armyworm moths</h3>
                                        <p class="h6 text-center">Mow and water your lawn regularly, which makes the
                                            grass less attractive to the pests. Remove grassy weeds and thatch to
                                            make your yard inhospitable for the insects' eggs and larvae. Goatley
                                            recommends shutting off outdoor lights by your
                                            house at night to avoid attracting moths, which lay eggs that
                                            turn into armyworms.</p>
                                        <div class="h3 text-center my-4">
                                            <a href="#">More</a>

                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="dg-card">
                                    <img src="/images/10familly.jpg" class="card-img-top" alt="...">


                                    <div class="px-3">

                                        <h3 class="text-center mt-3">Adult billbugs</h3>
                                        <p class="h6 text-center">Watering your turf several days before application
                                            can
                                            help to draw billbug larvae to the surface which will help to
                                            increase your products contact with the pests. Our recommendation is to
                                            use
                                            a insecticide product containing
                                            imidacloprid, bifenthrin, or beta-cyfluthrin to effectively eliminate
                                            billbug populations.</p>

                                        <div class="h3 text-center my-4">
                                            <a href="#">More</a>

                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--    blog area end-->

        <!--contact area start-->
        <div class="bg-akuu" id="contact">
            <div class="container py-5 my-5">
                <div class="row">
                    <div class="col-lg-12 text-center fw-bold">
                        <h1 class="">Contact us</h1>
                        <hr class="my-hr">
                        <h5 class="mt-3 mb-5 text-dark">Contact Us To Get Started</h5>
                    </div>
                </div>
                <div class="row mb-5 g-4">
                    <div class="col-lg-4">
                        <div class="  akku text-center mx-2">
                            <div class="pt-3">
                                <i class="bi bi-telephone-fill h1"></i>
                            </div>
                            <h3>PHONE</h3>
                            <div class="pb-3">
                                <a href="#" class="h4">+91 89558xxxxx</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="akku text-center mx-2">
                            <div class="pt-3">
                                <i class="bi bi-envelope-fill h1"></i>
                            </div>
                            <h3>Email</h3>
                            <div class="pb-3">
                                <a href="#" class="h4">FarmEasy@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="akku text-center  mx-2">
                            <div class="pt-3">
                                <i class="bi bi-geo-alt h1"></i>
                            </div>
                            <h3>Location</h3>
                            <div class="pb-3">
                                <a href="#  " class="h4">View on Google map</a>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- form to contact -->
                <form class="contact-form wow fadeInLeft" id="reused_form" action="POST">
                    <div class="row my-form">
                        <div class="col-lg-6">
                            <div class="form-floating mt-4">
                                <input name="name" id="name" type="text" class="form-control" placeholder="Your Name*"
                                    required="">
                                <label for="name">Your Name</label>
                            </div>
                            <div class="form-floating mt-4">
                                <input name="email" id="email" type="email" class="form-control"
                                    placeholder="Your Email*" required="">
                                <label for="email">Email address</label>
                            </div>
                            <div class="form-floating mt-4">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Your Subject.." required="">
                                <label for="subject">Your Subject</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mt-4">
                                <textarea style="height: 150px" name="comments" id="comments" cols="20" rows="50"
                                    class="form-control" placeholder="Your message..."></textarea>
                                <label for="comments">Your message</label>
                            </div>
                            <div class="col-lg-6  mt-4">
                                <button type="submit" class="h2 fw-bold btn btn-two px-5 py-3"> Send
                                    message</button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
        <!--contact area end-->


        <!--    footer area start     -->
        <!-- <div class="footer">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-5">
                            <p class="h2 farm">FarmEasy</p>
                            <p>Skit College, Ramnagriya
                                <br>
                                Jaipur, Rajasthan
                                <br>
                                India
                            </p>

                            <div class="social">
                                <i class="bi bi-facebook pe-3 h4"></i>
                                <i class="bi bi-twitter pe-3 h4"></i>
                                <i class="bi bi-linkedin pe-3 h4"></i>
                                <i class="bi bi-instagram pe-3 h4"></i>
                            </div>
                        </div>
                        <div class="col-lg-2 text-muted">
                            <p class="h4">Useful Links</p>
                            <ul class="list-unstyled lh-lg">

                                <a href="/home" target="_blank" rel="noopener noreferrer">
                                    <li><i class="bi bi-chevron-right"></i> Home</li>
                                </a>
                                <a href="/community" target="_blank" rel="noopener noreferrer">
                                    <li><i class="bi bi-chevron-right"></i> Community</li>
                                </a>
                                <a href="#services" target="_self" rel="noopener noreferrer">
                                    <li><i class="bi bi-chevron-right"></i> Services</li>
                                </a>
                                <a href="#" target="_blank" rel="noopener noreferrer">
                                    <li><i class="bi bi-chevron-right"></i> E-Commerce</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-lg-2 text-muted lh-lg">
                            <p class="h4">About</p>
                            <ul class="list-unstyled">
                                <a href="#about" target="_self" rel="noopener noreferrer">
                                    <li><i class="bi bi-chevron-right"></i> About us</li>
                                </a>
                                <a href="#contact" target="_self" rel="noopener noreferrer">
                                    <li><i class="bi bi-chevron-right"></i>Contact us</li>
                                </a>
                                <a href="#" target="_self" rel="noopener noreferrer">
                                    <li><i class="bi bi-chevron-right"></i> Terms &amp; Services</li>
                                </a>
                                <a href="#" target="_self" rel="noopener noreferrer">
                                    <li><i class="bi bi-chevron-right"></i> Landing One</li>
                                </a>

                            </ul>
                        </div>
                        <div class="col-lg-3 text-muted lh-lg">
                            <p class="h4">Office</p>
                            <ul class="list-unstyled">
                                <li>
                                    <i class="bi bi-geo-alt-fill"></i>
                                    <span>New Delhi, India</span>
                                </li>
                                <li>
                                    <i class="bi bi-envelope-check-fill"></i>
                                    <span>FarmEasy@gmail.com</span>
                                </li>
                                <li>
                                    <i class="bi bi-telephone-fill"></i>
                                    <span>+91 89558xxxxx</span>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <hr style="border-color: aliceblue">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h6 class="farm">© 2022 FarmEasy.</h6>
                        </div>
                    </div>
                </div>
            </div> -->
        <%- include('includes/footer') %>
            <!--    footer area end     -->


            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script src="bootstrap/bootstrap.bundle.min.js"></script>
            <script src="scripts/jquery.min.js"></script>
            <script src="scripts/script.js"></script>
            <script src="scripts/form.js"></script>
            <script src="/scripts/weather.js"></script>


            <script>
                AOS.init();
            </script>

            <!-- chat bot script -->
            <script type='text/javascript'>
                ( function ( I, L, T, i, c, k, s ) { if ( I.iticks ) return; I.iticks = { host: c, settings: s, clientId: k, cdn: L, queue: [] }; var h = T.head || T.documentElement; var e = T.createElement( i ); var l = I.location; e.async = true; e.src = ( L || c ) + '/client/inject-v2.min.js'; h.insertBefore( e, h.firstChild ); I.iticks.call = function ( a, b ) { I.iticks.queue.push( [ a, b ] ); }; } )( window, 'https://cdn-v1.intelliticks.com/prod/common', document, 'script', 'https://app.intelliticks.com', 'HQ7atFjXpnh7iwhh8_c', {} );
            </script>

</body>

</html>