<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Login page" }) %>

        <!-- CSS -->
        <link rel="stylesheet" href="/styles/login.css">

        <!-- Boostrap JS -->
        <script src="/scripts/bootstrap.min.js"></script>

</head>

<body>

    <%- include('includes/nav-bar') %>

        <form action="/login" method="post" class="form">
            <label for="soil">Choose a language</label>

            <select name="soil" id="soil">
                <% for(const soil of soils) { %>

                    <option value="<%= soil.id %>">
                        <%= soil.id %>
                    </option>

                    <% } %>
            </select>

            <button type="submit" id="submit">Submit</button>
        </form>
</body>

</html>