<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Weather page" }) %>

        <!-- CSS -->
        <!-- <link rel="stylesheet" href="/styles/community.css"> -->

        <!-- Boostrap JS -->
        <script src="/scripts/bootstrap.min.js"></script>

        <!-- script -->
        <script src="/scripts/keyword.js" defer></script>

        <!-- script JS -->
        <!-- <script src="/scripts/language.js"></script> -->
</head>

<body>

    <%- include('includes/nav-bar') %>


        <!-- <button id="btn">Click Me</button>

        <div id="text"></div> -->

        <script src="/scripts/weather.js"></script>
        <script src="scripts/script.js"></script>

</body>

</html>