header,
footer {
	display: grid;
	place-content: center;
	background-image: url("/images/communityBg.jpg");
	background-size: cover;
	padding: 20px 0 25px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: white;
	justify-content: center !important;
}

footer .row, header .row {
	margin: 0 !important;
	text-align: center !important;
}

label {
	font-size: 2rem;
	padding: 0 !important;
}

input {
	border-radius: 40px !important;
}

.header_text {
	display: block !important;
	font-size: 1.15rem !important;
}

button {
	width: 100px;
	height: 40px;
	background-color: transparent;
	border: 2px solid aliceblue;
	border-radius: 15px !important;
	color: aliceblue;
	align-self: center;
}

.accordion-button {
	color: #0db236 !important;
}

.replyBtn {
	width: 100px !important;
	height: 40px;
	background-color: transparent;
	border: 2px solid #57cc99;
	border-radius: 15px !important;
	color: #57cc99;
}

.replyRow {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.replyRow > input {
	width: 800px;
}

ul {
	list-style-type: none;
}

@media (max-width: 64rem) {
	.row {
		width: 500px;
	}
}

@media (max-width: 48rem) {
}

@media (max-width: 36rem) {
	.row {
		width: 300px;
	}

	label {
		font-size: 1.5rem;
	}
}
