body {
	background: url("../images/farmer.jpg") fixed no-repeat;
	color: black;
}

.lPortion {
	text-align: center;
	font-size: 3rem;
}

.cropItem {
	text-transform: capitalize;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: rgba(240, 240, 240, 0.5);
	margin: 15px 10px;
}
