form {
	width: 300px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 100px auto;
	border-radius: 10px;
}

#soil,
#land,
#state,
#season {
	height: 40px;
	border-radius: 10px;
	max-width: 280px;
	margin: 0 auto;
}

label {
	text-align: center;
}

#submit {
	width: fit-content;
	padding: 10px 20px;
	background-color: #bb4d00;
	border: none;
	color: white;
	border-radius: 10px;
}
