@import url("https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300;700&family=Nunito&display=swap");


#navbar {
	display: flex !important;
	height: 70px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

a.navLinks {
	text-decoration: none !important ;
	display: block;
	width: fit-content !important;
	font-size: 1.5rem;
	font-family: Averia Sans Libre;
	align-items: center;
	display: grid;
	place-content: center;
	color: #191919 !important;
}

.xyz {
	display: grid;
	place-content: center;
	background-color: #fff;
}

a:hover {
	text-decoration: underline;
}

#marquee {
	font-size: 1.5rem;
	color: red;
}

@media (max-width: 440px) {
	#navbar {
		display: block;
	}
}
