@import url("https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300;700&family=Nunito&display=swap");

.nav a {
	text-decoration: none;
}

.nav {
	background-color: #fff;
	transition: all 0.4s ease-in-out;
	font-family: Averia Sans Libre;
}

.navbar img {
	width: 80px;
}

.navbar li.nav-item {
	padding: 0 12px;
}

.navbar a.nav-link {
	color: #212121;
	font-weight: 600;
	transition: all 0.2s;
}

.navbar a.nav-link:hover {
	color: #00af80;
	transition: all 0.2s;
}

.navbar-nav {
	align-items: center;
}
.footer {
	background-color: #f4f4f4;
	padding: 50px 0;
}

.farm {
	color: #00af80;
}

.footer a {
	color: #00af80;
	text-decoration: none;
}

@media screen and (max-width: 900px) {
	.navbar-toggler:focus {
		box-shadow: none;
	}

	.navbar img {
		width: 60px;
	}

	.container {
		overflow-x: hidden;
	}

	.row.g-5 {
		padding-right: 0 !important;
		margin: 0 !important;
	}
}

@media screen and (max-width: 1182px) {
	.container {
		overflow-x: hidden;
	}

	.bg-image {
		overflow-x: hidden;
	}
}
